!!!
%html{:lang => "en"}
  %head
    %title test
  %body
    %h4= @leaderboards.map { |l| "<a href=\"/leaderboards/#{l.leaderboard_id}\">#{l.name}</a>" }.join(" | ")
    %ol
      - @users.each do |u|
        %li
          %img{src: u.avatar_url, style: 'width:50px;height:50px;'}
          %a{href: "/users/#{u.steam_id}"}= "#{u.name} (#{u.score} points)"
